/*General*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  margin: 0%;
  padding: 0%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.bg-monroe-red {
  background-color: #e61835;
}

.custom-title {
  color: rgb(119, 119, 119);
}

.custom-title::after {
  content: "";
  display: block;
  width: 70px;
  height: 30px;
  border: 3px solid #e61835;
  border-color: transparent transparent #e61835 transparent;
  border-radius: 40%;
  margin: 0 auto 0;
  position: relative;
  transform: translateY(-20px);
}

.custom-container-info-title {
  padding: 50px 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  color: #fdfdfd;
  margin: 30px auto;
}

.bg-monore-grandient {
  background: linear-gradient(to right, #f8b195, #e61835);
}

.custom-subtitle {
  font-size: 16px;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

.custom-container-info {
  padding: 5% 0 0 0;
}

.custom-card {
  max-height: 500px;
}

.icon {
  font-size: 50px;
  color: #e61835;
  margin-bottom: 20px;
}

.accordion-button:not(.collapsed) {
  background-color: #e61835;
  color: #fdfdfd;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

/* Botones */
.btn-outline-success {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.btn-outline-success:hover {
  transform: scaleX(1.1);
  background-color: rgba(40, 167, 69, 0.2);
}

.btn-outline-danger {
  margin: 10px;
  padding: 5px 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.btn-outline-danger:hover {
  transform: scaleX(1.1);
  background-color: rgba(220, 53, 69, 0.2);
}

.btn-outline-info {
  margin: 10px;
  padding: 5px 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.btn-outline-info:hover {
  transform: scaleX(1.1);
  background-color: rgba(23, 162, 184, 0.2);
}

/* Estilos de la cabecera */
header nav img {
  width: 100px;
}
header .navbar-nav .nav-item {
  position: relative;
}
header .navbar-nav .nav-item .nav-link {
  display: block;
  padding: 10px 15px;
  transition: all 0.3s ease;
  color: #333;
  text-decoration: none;
}
header .navbar-nav .nav-item .nav-link:hover {
  color: #e61835;
  background-color: rgba(230, 24, 53, 0.1);
  transform: scaleX(1.1);
}
header .navbar-nav .nav-item .dropdown-menu {
  background-color: #fdfdfd;
  border-radius: 5px;
}
header .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  transition: all 0.3s ease;
  color: #333;
}
header .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  color: #e61835;
  background-color: rgba(230, 24, 53, 0.1);
  transform: scaleX(1.1);
}
header .d-flex a {
  display: block;
  padding: 10px 15px;
  transition: all 0.3s ease;
  color: #333;
  text-decoration: none;
}
header .d-flex a:hover {
  color: #e61835;
  transform: scaleX(1.1);
}

/* Estilos del body */
main {
  text-align: center;
  color: #333;
  min-height: 70vh;
}

/* ---------------Home-------------- */
.banner-principal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  overflow: hidden;
}
.banner-principal .carousel {
  width: 100%;
  height: 100%;
}
.banner-principal .carousel .carousel-inner {
  width: 100%;
  height: 100%;
}
.banner-principal .carousel .carousel-inner .carousel-item {
  width: 100%;
  height: 100%;
}
.banner-principal .carousel .carousel-inner .carousel-item img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  object-position: center;
}
.banner-principal .carousel-control-prev,
.banner-principal .carousel-control-next {
  width: auto;
}

/* Categorias destacadas*/
.categorias-container {
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 20px 10px 0 10px;
}
.categorias-container .card-categoria {
  border-radius: 50px;
  height: 150px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  position: relative;
  overflow: hidden;
}
.categorias-container .card-categoria img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease;
}
.categorias-container .card-categoria:hover img {
  transform: scale(1.1);
}
.categorias-container .card-categoria .overlay {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  color: #e61835;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  transition: opacity 0.3s ease;
  width: 80%;
  text-transform: uppercase;
}
.categorias-container .card-categoria:hover .overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
.categorias-container .card-categoria .overlay h3 {
  color: rgb(119, 119, 119);
  margin-bottom: 5px;
}
.categorias-container .card-categoria .overlay span {
  color: #e61835;
  font-size: 14px;
}

.gift-cards-container {
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  padding: 20px 10px 0 10px;
}
.gift-cards-container .card-gift {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.gift-cards-container .card-gift:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.gift-cards-container .card-gift img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: center;
}

.section-promociones {
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  padding: 20px 10px 0 10px;
}

/*Estilos productos*/
main {
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}
main .catalogo-productos {
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}
main .catalogo-productos .filter-products {
  background: #fdfdfd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 100%;
  width: 100%;
  margin: auto;
}
main .catalogo-productos .filter-products h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}
main .catalogo-productos .filter-products .accordion-button {
  background-color: #ffffff;
  color: #333;
  font-weight: bold;
  border: none;
  padding: 0.75rem 1rem;
}
main .catalogo-productos .filter-products .accordion-button:focus {
  box-shadow: none;
}
main .catalogo-productos .filter-products .accordion-button:not(.collapsed) {
  color: #e61835;
  background-color: #fdfdfd;
}
main .catalogo-productos .filter-products .accordion-item {
  border: none;
  margin-bottom: 10px;
}
main .catalogo-productos .filter-products .accordion-item .accordion-body {
  padding: 10px 20px;
}
main .catalogo-productos .filter-products .accordion-item .accordion-body label {
  display: flex;
  align-items: center;
  margin: 8px 0;
  font-size: 0.9rem;
  color: #333;
}
main .catalogo-productos .filter-products .accordion-item .accordion-body label .color-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #ccc;
}
main .catalogo-productos .filter-products .accordion-item .accordion-body input[type=checkbox] {
  margin-right: 10px;
}
main .card-product {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
main .card-product:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
main .card-product img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-bottom: 5px solid #e61835;
}
main .card-product-discount {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #e61835;
  color: #fdfdfd;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
}
main .card-product-details {
  padding: 20px;
}

.section-contactanos .contact-card {
  border: none;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/*-------------------Estilos CARRITO----------------------- */
main .custom-container-info {
  padding: 20px;
  border-radius: 10px;
}
main .custom-container-info .section-cart {
  padding: 40px;
}
main .custom-container-info .section-cart .body-cart {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
main .custom-container-info .section-cart .cart-item {
  gap: 15px;
  padding: 15px;
  border-bottom: 1px solid #e61835;
}
main .custom-container-info .section-cart .cart-item:last-child {
  border-bottom: none;
}
main .custom-container-info .section-cart .cart-item .cart-image {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  object-fit: cover;
}
main .custom-container-info .section-cart .cart-item .cart-item-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .custom-container-info .section-cart .cart-item .cart-item-details .product-name {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}
main .custom-container-info .section-cart .cart-item .cart-item-details .cart-actions {
  display: flex;
  gap: 10px;
}
main .custom-container-info .section-cart .cart-item .cart-item-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  margin: 10px 0;
}
main .custom-container-info .section-cart .cart-item .cart-item-controls .btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 16px;
}
main .custom-container-info .section-cart .cart-item .cart-item-controls .btn:hover {
  transform: scale(1.1);
}
main .custom-container-info .section-cart .cart-item .cart-item-controls .quantity-input {
  width: 50px;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
}
main .custom-container-info .section-cart .cart-item .cart-item-info {
  font-size: 16px;
  font-weight: bold;
  color: #e61835;
}
main .custom-container-info .section-cart .footer-cart {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
main .custom-container-info .section-cart .footer-cart .cart-summary h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}
main .custom-container-info .section-cart .footer-cart .cart-summary .summary-item {
  padding: 5px 0;
  font-size: 16px;
}
main .custom-container-info .section-cart .footer-cart .cart-summary .summary-item .text-success {
  font-weight: bold;
}
main .custom-container-info .section-cart .footer-cart .cart-summary .coupon-link {
  display: inline-block;
  color: #e61835;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease;
}
main .custom-container-info .section-cart .footer-cart .cart-summary .coupon-link:hover {
  text-decoration: underline;
  transform: scaleX(1.1);
}
main .custom-container-info .section-cart .footer-cart .cart-summary .summary-total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

footer {
  background-color: #fdfdfd;
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid #e61835;
  gap: 20px;
}
footer .footer-column {
  flex: 1 1 calc(20% - 20px);
  min-width: 200px;
}
footer .footer-column h4 {
  color: #333;
  margin-bottom: 15px;
  font-size: 20px;
}
footer .footer-column ul {
  list-style: none;
  padding: 0;
}
footer .footer-column ul li {
  margin-bottom: 10px;
}
footer .footer-column ul li a {
  display: block;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease;
}
footer .footer-column ul li a:hover {
  color: #e61835;
  font-weight: bold;
  background-color: rgba(230, 24, 53, 0.1);
  transform: scaleX(1.1);
}
footer .highlight-button {
  color: #e61835;
  font-weight: bold;
}
footer form {
  display: flex;
  gap: 10px;
}
footer input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
footer .social-icons a {
  color: #333;
  font-size: 20px;
  margin-right: 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}
footer .social-icons a:hover {
  color: #e61835;
}

/*Tablets*/
@media screen and (min-width: 768px) {
  /* Estilos de la cabecera */
  .custom-card {
    max-height: 600px;
  }
  header {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1000;
    box-shadow: 0 2px 5px #333;
    /* Ajustar el orden visual usando la propiedad `order` */
  }
  header div .custom-nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* Estilos del boody */
  main {
    margin-top: 120px;
    /*Home*/
    /*Estilso Productos */
    /*Estilos Carrito */
  }
  main .categorias-container {
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px 50px 0 50px;
  }
  main .categorias-container .card-categoria img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    object-position: center;
  }
  main .promociones-destacas {
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px 50px 0 50px;
  }
  main .promociones-destacas .card-product {
    height: 70vh;
  }
  main .promociones-destacas .card-product img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    object-position: center;
  }
  main .gift-cards-container {
    padding: 20px 50px 0 50px;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  main .catalogo-productos {
    display: grid;
    grid-template-columns: 1fr;
  }
  main .catalogo-productos .table-productos {
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px 50px 0 50px;
  }
  main .catalogo-productos .table-productos .card-product img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: center;
  }
  main .section-cart {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  main .section-cart .cart-item {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    padding: 15px 10px;
  }
  /* Estilos Footer */
  footer {
    display: flex;
    flex-direction: row;
  }
}
/*Desktop*/
@media screen and (min-width: 1024px) {
  .custom-card {
    max-height: 600px;
  }
  /* Estilos de la cabecera */
  header {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1000;
    box-shadow: 0 2px 5px #333;
    /* Ajustar el orden visual usando la propiedad `order` */
  }
  header div .custom-nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* Estilos del boody */
  main {
    margin-top: 120px;
    /*Home*/
    /*Estilso Productos */
    /*Estilos Carrito */
  }
  main .banner-principal {
    height: 60vh;
    width: auto;
  }
  main .banner-principal .carousel {
    width: 100%;
    height: 100%;
  }
  main .banner-principal .carousel .carousel-inner {
    width: 100%;
    height: 100%;
  }
  main .banner-principal .carousel .carousel-inner .carousel-item {
    width: 100%;
    height: 100%;
  }
  main .banner-principal .carousel .carousel-inner .carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
  main .categorias-container {
    margin-bottom: 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1%;
    padding: 20px 50px 0 50px;
  }
  main .categorias-container .card-categoria {
    border-radius: 50px;
    height: 350px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
    overflow: hidden;
  }
  main .promociones-destacas,
  main .table-productos {
    margin-bottom: 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
    padding: 20px 50px 0 50px;
  }
  main .promociones-destacas .card-product,
  main .table-productos .card-product {
    height: 70vh;
  }
  main .promociones-destacas .card-product img,
  main .table-productos .card-product img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: center;
  }
  main .gift-cards-container {
    margin-bottom: 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
    padding: 20px 50px 0 50px;
  }
  main .gift-cards-container .card-gift img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: center;
  }
  main .catalogo-productos {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  main .catalogo-productos .table-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-left: 20px;
  }
  main .card-product {
    height: 600px;
  }
  main .section-cart {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
  }
  main .section-cart .cart-item {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    padding: 15px 10px;
  }
  /* Estilos Footer */
  footer {
    display: flex;
    flex-direction: row;
  }
}

/*# sourceMappingURL=main.css.map */
