@use '../utilidades/variables' as variables;
@use '../utilidades/mixins' as mixins;

/*-------------------Estilos CARRITO----------------------- */
main {

.custom-container-info {
    padding: 20px;
    border-radius: 10px;


    .section-cart {
        padding: 40px;
        .body-cart {
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        }

        .cart-item {
            gap: 15px;
            padding: 15px;
            border-bottom: 1px solid variables.$color-primary;
            
            &:last-child {
                border-bottom: none;
            }

            .cart-image {
                width: 80px;
                height: 80px;
                border-radius: 5px;
                object-fit: cover;
            }

            .cart-item-details {
                display: flex;
                flex-direction: column;
                align-items: center;
                .product-name {
                    font-size: variables.$font-size-regular;
                    color: variables.$color-dark;
                    margin-bottom: 5px;
                }

                .cart-actions {
                    
                    display: flex;
                    gap: 10px;

                }
            }

            .cart-item-controls {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 5px;
                margin: 10px 0;

                .btn {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 5px;
                    font-size: 16px;

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                .quantity-input {
                    width: 50px;
                    text-align: center;
                    border-radius: 5px;
                    font-size: variables.$font-size-small;
                }
            }

            .cart-item-info {
                font-size: variables.$font-size-regular;
                font-weight: bold;
                color: variables.$color-primary;
            }
        }

        // Pie del carrito
        .footer-cart {
            flex: 1;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

            .cart-summary {
                h3 {
                    font-size: variables.$font-size-title;
                    color: variables.$color-dark;
                    margin-bottom: 10px;
                }

                .summary-item {
              
                    padding: 5px 0;
                    font-size: variables.$font-size-regular;

                    .text-success {
                        font-weight: bold;
                    }
                }

                .coupon-link {
                    display: inline-block;
                    color: variables.$color-primary;
                    text-decoration: none;
                    font-size: variables.$font-size-regular;
                    transition: all 0.3s ease;

                    &:hover {
                        text-decoration: underline;
                        transform: scaleX(1.1);
                    }
                }

                .summary-total {
                    display: flex;
                    justify-content: space-between;
                    font-weight: bold;
                    font-size: variables.$font-size-title;
                    margin-top: 10px;
                }


            }
        }
    }
}

}