@use '../utilidades/variables' as variables;
@use '../utilidades/mixins' as mixins;

//Home
/* ---------------Home-------------- */


// 🔹 **Estilos base (MÓVIL PRIMERO)**
.banner-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto; // 📌 Se adapta al contenido dinámicamente
    overflow: hidden;

    .carousel {
        width: 100%;
        height: 100%;

        .carousel-inner {
            width: 100%;
            height: 100%;

            .carousel-item {
                width: 100%;
                height: 100%;

                img {
                    @include mixins.image-cover(100%, 30vh);


                }
            }
        }
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: auto;
    }
}

//Categorias destacadas
/* Categorias destacadas*/

.categorias-container {
    @include mixins.grid-section(1, 10px, 5%);
    padding: 20px 10px 0 10px;

    .card-categoria {
        @include mixins.card-container();

        img {
            @include mixins.image-cover(100%, 80%);
            border-bottom: 5px solid variables.$color-primary;
        }
    }

}

// Card Gif

.gift-cards-container {

    @include mixins.grid-section(1, 10px, 5%);
    padding: 20px 10px 0 10px;

    .card-gift {
        @include mixins.card-container();

        img {
            @include mixins.image-cover(100%, 70%);
        }
    }
}

// Productos destacdos 