@use '../utilidades/variables' as variables;
@use '../utilidades/mixins' as mixins;

/* Estilos del body */

main {
    text-align: center;
    color: variables.$color-dark;
    min-height: 70vh;
    .custom-card {
        height: 600px;
    }
    
}