@use '../utilidades/variables' as variables;
@use '../utilidades/mixins' as mixins;

/*Estilos productos*/

main {
    
    .catalogo-productos {
        
        @include mixins.grid-section(1, 10px, 5%);


        //Filtro
        //Estilos del filtro

        .filter-products {
            background: variables.$color-light;
            border-radius: 10px;
            box-shadow: variables.$box-shadow-default;
            padding: 20px;
            height: 100%;
            width: 100%;
            margin: auto;

            h2 {
                font-size: variables.$font-size-title;
                color: variables.$color-dark;
                margin-bottom: 20px;
                text-align: center;
            }

            .accordion-button {
                background-color: #ffffff;
                color: variables.$color-dark;
                font-weight: bold;
                border: none;
                padding: 0.75rem 1rem;

                &:focus {
                    box-shadow: none;
                }

                &:not(.collapsed) {
                    color: variables.$color-primary;
                    background-color: variables.$color-light;
                }
            }

            .accordion-item {
                border: none;
                margin-bottom: 10px;

                .accordion-body {
                    padding: 10px 20px;

                    label {
                        display: flex;
                        align-items: center;
                        margin: 8px 0;
                        font-size: 0.9rem;
                        color: variables.$color-dark;

                        .color-circle {
                            width: 16px;
                            height: 16px;
                            border-radius: 50%;
                            display: inline-block;
                            margin-right: 10px;
                            border: 1px solid #ccc;
                        }
                    }

                    input[type="checkbox"] {
                        margin-right: 10px;

                    }

                }

            }
        }

    }


    @include mixins.grid-section(1, 10px, 5%);

    .card-product {
        border-radius: 12px;
        box-shadow: variables.$box-shadow-default;
        transition: variables.$transition-default;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        img {
            @include mixins.image-cover(100%, 200px);

            border-bottom: 5px solid variables.$color-primary; // Línea roja bajo la imagen
        }

        &-discount {
            position: absolute;
            top: 10px;
            left: 10px;
            background: variables.$color-primary;
            color: variables.$color-light;
            font-size: 14px;
            padding: 5px 10px;
            border-radius: 5px;
        }

        &-details {
            padding: 20px;
        }


    }

}