@use '../utilidades/variables' as variables;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Poppins", sans-serif;
    background-color: white;
    margin: 0%;
    padding: 0%;

}

a {
    text-decoration: none;
}



ul {
    list-style: none;

}

.bg-monroe-red {
    background-color: variables.$color-primary;
}

.custom-title {
    color: variables.$color-subtitle;
}

.custom-title::after {
    content: "";
    display: block;
    width: 70px;
    height: 30px;
    border: 3px solid variables.$color-primary;
    border-color: transparent transparent variables.$color-primary transparent;
    border-radius: 40%;
    margin: 0 auto 0;
    position: relative;
    transform: translateY(-20px);
}

.custom-container-info-title {
    padding: 50px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    color: variables.$color-light;
    margin: 30px auto;
}

.bg-monore-grandient {
    background: variables.$gradient-bg;

}

.custom-subtitle {
    font-size: variables.$font-size-regular;
    color: variables.$color-dark;
    display: block;
    margin-bottom: 5px;
}

.custom-container-info {
    padding: 5% 0 0 0;
}


.custom-card{
    max-height: 500px;
}

.icon {
    font-size: 50px;
    color: variables.$color-primary;
    margin-bottom: 20px;
}


.accordion-button:not(.collapsed) {
    background-color: variables.$color-primary;
    color: variables.$color-light;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

//Botones
/* Botones */

.btn-outline-success {
    width: 100%;
    padding: 10px;
    font-size: variables.$font-size-regular;
    transition: all 0.3s ease;

    &:hover {
        transform: scaleX(1.1);
        background-color: rgba(variables.$color-success, 0.2);
    }
}

.btn-outline-danger {

    margin: 10px;
    padding: 5px 10px;

    font-size: variables.$font-size-regular;
    transition: all 0.3s ease;

    &:hover {
        transform: scaleX(1.1);
        background-color: rgba(variables.$color-danger, 0.2);
    }

}



.btn-outline-info {
    margin: 10px;
    padding: 5px 10px;

    font-size: variables.$font-size-regular;
    transition: all 0.3s ease;
    &:hover {
        transform: scaleX(1.1);
        background-color: rgba(variables.$color-info, 0.2);
    }
}

